[mysql]
port                           = 3306
socket                         = /var/lib/mysql/mysql.sock

[mysqld]
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /var/lib/mysql/mysql.sock
pid-file                       = /var/lib/mysql/mysql.pid
bind-address                   = 0.0.0.0
log-bin                        = /var/lib/mysql/mysql-bin
expire-logs-days               = 2
sync-binlog                    = 1
binlog-format                  = row
collation-server               = utf8_unicode_ci 
init-connect                   = 'SET NAMES utf8'
character-set-server           = utf8
datadir                        = /var/lib/mysql
query-cache-type               = 0
query-cache-size               = 0
innodb-autoinc-lock-mode       = 2
innodb-log-files-in-group      = 2
innodb-log-file-size           = 128M
innodb-flush-log-at-trx-commit = 0
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 128M
skip_name_resolve

[galera]
wsrep_provider                 = /usr/lib64/galera/libgalera_smm.so
wsrep_sst_method               = rsync
wsrep_slave_threads            = 4
innodb-flush-log-at-trx-commit = 2
wsrep_on                       = on
